In [1]:
import pandas as pd
import numpy as np

# Pandas 3: Data Aggregation and Merging 
## Part 3.1:  Data Aggregation

### Aggregation: 
  - Summary statistics
  - GroupBy

### 1- Aggregating Statistics
<img src="Redi_img/img1.png" width="300">

In [ ]:
a=[[76,52,57], [81, 73, 97], [90, 92, 80], [np.NaN, 73, 92], [81, np.NaN, 52], [65, 95, 61]]
df=pd.DataFrame(a, columns=['A','B', 'C'])
df

### Count

In [ ]:
## Single Column
df['A'].count()

In [ ]:
## Multiple Column
df[['A','C']].count()

In [ ]:
## All columns - Column-wise
df.count()

### Min

In [ ]:
## Single Column
df['A'].min()

In [ ]:
## Multiple Column
df[['A','C']].min()

In [ ]:
## All columns - Column-wise
df.min()

### Max

In [ ]:
## Single Column
df['A'].max()

In [ ]:
## Multiple Column
df[['A','C']].max()

In [ ]:
## All columns - Column-wise
df.max()

### Sum

In [ ]:
## Single Column
df['A'].sum()

In [ ]:
## Multiple Column
df[['A','C']].sum()

In [ ]:
## All columns - Column-wise
df.sum()

### Variance

In [ ]:
## Single Column
df['A'].var()

In [ ]:
## Multiple Column
df[['A','C']].var()

In [ ]:
## All columns - Column-wise
df.var()

### Standard Deviation

In [ ]:
## Single Column
df['A'].std()

In [ ]:
## Multiple Column
df[['A','C']].std()

In [ ]:
## All columns - Column-wise
df.std()

### Mean

In [ ]:
## Single Column
df['A'].mean()

In [ ]:
## Multiple Column
df[['A','C']].mean()

In [ ]:
## All columns - Column-wise
df.mean()

### Median

In [ ]:
## Single Column
df['A'].median()

In [ ]:
## Multiple Column
df[['A','C']].median()

In [ ]:
## All columns - Column-wise
df.median()

### Mode

In [ ]:
## Single Column
df['A'].mode()

In [ ]:
df['A'].mode().iloc[0]

In [ ]:
## Multiple Column
df[['A','B']].mode()

In [ ]:
## All columns - Column-wise
df.mode()

### Statistical summary

In [ ]:
## Single Column
df['A'].describe()

In [ ]:
## Multiple Column
df[['A','C']].describe()

In [ ]:
df[['A','C']].describe().transpose()

In [ ]:
## All columns - Column-wise
df.describe().transpose()

### agg() function

In [ ]:
df.agg(['sum','min'])

In [ ]:
df.agg(['sum','min'], axis=1)

In [ ]:
df.agg({'A':['sum','min'], 'B':['min', 'max']})

## All columns - Row-wise

In [ ]:
df.sum(axis=1)

In [ ]:
df.mean(axis=1)

In [ ]:
df.loc[2:3].mean(axis=1)

In [ ]:
df.iloc[3:5].mean(axis=1)

### 2- Groupby
- Aggregating statistics grouped by category
- The groupby() method is applied on one or more columns to make a group per category.

<img src="Redi_img/img2.png" width="500">

In [ ]:
columns=['item', 'type', 'color', 'quantity']
data=[ ('S-56', 'A', 'Red', 234), ('S-57', 'A', 'Blue', 432),
      ('S-58', 'A', 'Orange', 902), ('S-59', 'A', 'Red', 340), 
      ('S-60', 'B', 'Yellow', 253), ('S-61', 'B', 'Red', 232), 
      ('S-62', 'C', 'Green', 1042), ('S-63', 'C', 'Green', 1204),
      ('S-64', 'B', 'Yellow', 432), ('S-65', 'C', 'Green', 985) ]
items=pd.DataFrame(data, columns=columns)
items

- In a store, there are many items..
- An item has a Type and a Color ..
- We have a dataset of items, with the quantity of each item..

### Question 1 :  find the sum of quantities for each Type ?
**Approach:**
- Split the dataset into groups (per Type)
- Apply sum() function to each group independently
- Combine the results into a data structure

In [ ]:
items.groupby('type').sum()

### Question 2:  find the sum of quantities for each Color ?

In [ ]:
items.groupby('color').sum()

### Question 3:  How many items are there of each Type?

In [ ]:
items.groupby('type').count()

In [ ]:
items.groupby('type').count()['item']

In [ ]:
items.groupby('type').count()['item'].reset_index()

### Question 4:  How many items are there of each Type?
value_counts is a convenient shortcut to count the number of entries in each category

In [ ]:
items['type'].value_counts()

In [ ]:
items.groupby('type').count()['item']

### Question 5: How many items are there for each (Type,Color ) combination ?

In [ ]:
items.groupby(['type','color']).count()

In [ ]:
items.groupby(['type','color']).count()['item'].reset_index()

### Question 6: Find the sum of quantities for each (Type,Color ) combination ?

In [ ]:
items.groupby(['type','color']).sum()

In [ ]:
items.groupby(['type','color']).sum().reset_index()

We can also choose to include NA in group keys or not by setting `dropna` parameter, 
the default setting is `True`

In [ ]:
l=[[1, 2, 3], [1, None, 4], [2, 1, 3], [1, 2, 2]]
df=pd.DataFrame(l, columns=["a", "b", "c"])
df

In [ ]:
df.groupby(by=["b"]).sum()

In [ ]:
df.groupby(by=["b"], dropna=False).sum()

## Part 3.2:  Data Merging
- **Concat**
   - Vertically
   - Horizontally
   
   
<img src="Redi_img/img3.png" width="400"> 
   
- **Merge**
   - Inner
   - Left
   - Right
   - Outer
   
<img src="Redi_img/img4.png" width="400">

### 1- Concat 
Concatenate pandas DataFrames along a particular axis 
<img src="Redi_img/img5.png" width="500">

#### 1.1- Concat - vertical (axis=0)

In [ ]:
columns=['Department', 'Year', 'Budget']
d1=[ ('Operations', 2019, 35000), ('Research', 2019, 45000),
     ('Development', 2019, 45000), ('Human Resources', 2019, 25800)]
df1=pd.DataFrame(d1,columns=columns)
df1

In [ ]:
d2=[ ('Operations', 2020, 36500), ('Research', 2020, 44000),
     ('Development', 2020, 55000), ('Human Resources', 2020, 37500)]
df2=pd.DataFrame(d2,columns=columns)
df2

In [ ]:
## check index
df=pd.concat([df1, df2])
df

In [ ]:
df=pd.concat([df1, df2], ignore_index=True)
df

In [ ]:
columns= ['Department', 'Year', 'Budget', 'Manager']
d3=[ ('Operations', 2021, 44000, 'Dirk'), ('Research', 2021, 52000, 'Elisa'),
     ('Development', 2021, 37000, 'Jan'), ('Human Resources', 2021, 40500, 'Mary')]
df3=pd.DataFrame(d3, columns=columns)
df3

In [ ]:
df=pd.concat([df1, df2, df3], ignore_index=True)
df

#### 1.2- Concat - horizontal (axis=1)
<img src="Redi_img/img6.png" width="400">

In [ ]:
index=['Math', 'Physics', 'English']
df1= {'S1':[65, 80, 85], 'S2':[70, 90, 76] }
df1=pd.DataFrame(df1, index=index)
df1

In [ ]:
df2= {'S3':[53, 84, 95], 'S4':[72, 92, 63] }
df2=pd.DataFrame(df2, index=index)
df2

In [ ]:
df=pd.concat([df1, df2], axis=1)
df

In [ ]:
index=['Math', 'Physics', 'History', 'English']
df3= {'S5':[69, 84, 77, 90], 'S6':[85, 72, 52, 69], 'S7':[33, 81, 65, 73]}
df3=pd.DataFrame(df3, index=index)
df3

In [ ]:
df=pd.concat([df1, df2, df3], axis=1)
df

### 2- Merge
- An operation that combines two dataframes into a new dataframe, by matching one or more columns (aka. keys)  from both input dataframes.
- Each row in the new dataframe is a combination of two rows: one from each input dataframes.

<img src="Redi_img/img7.png" width="600">

<img src="Redi_img/img8.png" width="600">

In [ ]:
columns=['City', 'Country']
df_1=[ ('Munich', 'Germany'), ('Liverpool', 'UK'),
     ('Lyon', 'France'), ('Frankfurt', 'Germany'), 
     ('Napoli', 'Italy'), ('London', 'UK') ]
df_1=pd.DataFrame(df_1, columns=columns)
df_1

In [ ]:
columns=['Country', 'Population', 'Area']
df_2=[ ('Germany', 83783942, 357588), ('UK', 67886011, 242495),
     ('France', 65273511, 543940), ('Italy', 60317116, 301340) ]
df_2=pd.DataFrame(df_2, columns=columns)
df_2

In [ ]:
df_result = df_1.merge(df_2, on="Country")
df_result

In [ ]:
df_result = pd.merge(df_1, df_2, on="Country")
df_result

<img src="Redi_img/img9.png" width="700">

<img src="Redi_img/img10.png" width="700">

<img src="Redi_img/img11.png" width="700">

<img src="Redi_img/img12.png" width="700">

- In the previous example, we have complete match between the two dataframes:
- Both dataframes have the same set of countries..
- But, what happens when there is no complete match ?!

<img src="Redi_img/img13.png" width="400"> 


- We want to merge these dataframes to know the fathers and mothers of children..
- There are some common children in both tables. But also there are non-matching children!
- ?????

#### There are four types of merge:
  - **inner:** take only matching rows from both tables
  - **left:** take matching rows from both plus non-matching from left table
  - **right:** take matching rows from both plus non-matching from right table
  - **outer:** take matching rows plus non-matching from both table

<img src="Redi_img/img14.png" width="600">

In [ ]:
data1=[('Steve', 'Frank'), ('Greg', 'Kim'), ('Greg', 'Phil'), ('Frank', 'Andy'), ('Frank', 'Rob')]
dff=pd.DataFrame(data1, columns= ['Father', 'Child'])
dff

In [ ]:
data2=[('Lisa', 'Mary'), ('Lisa', 'Greg'), ('Anne', 'Kim'),
       ('Anne', 'Phil'), ('Mary', 'Andy'), ('Mary', 'Rob')]
dfm=pd.DataFrame(data2, columns= ['Mother', 'Child'])
dfm

#### a. Merge - how='inner'
- Only matching rows from both tables are included
- Non-matching rows are excluded

<img src="Redi_img/img15.png" width="300">

In [ ]:
dff.merge(dfm, on='Child')

<img src="Redi_img/img16.png" width="300">

#### b. Merge - how='left'
<img src="Redi_img/img17.png" width="300"> 

- Matching rows from both tables are included
- Non-matching rows from **left** table are **included**
- Non-matching rows from **right** table are **excluded**

In [ ]:
dff.merge(dfm, on='Child', how='left')

<img src="Redi_img/img18.png" width="300">

#### c. Merge - how='right'
- Matching rows from both tables are included
- Non-matching rows from left table are excluded
- Non-matching rows from right table are included

<img src="Redi_img/img19.png" width="300">

In [ ]:
dff.merge(dfm, on='Child', how='right')

<img src="Redi_img/img20.png" width="300">

#### d. Merge - how='outer'
- Matching rows from both tables are included
- Non-matching rows from **left** table are **included**
- Non-matching rows from **right** table are **included**
<img src="Redi_img/img21.png" width="300">

In [ ]:
dff.merge(dfm, on='Child', how='outer')

<img src="Redi_img/img22.png" width="300">

####  e. Merge summary 
- **inner join**
  - only matching rows will be retained, 
  - rows in the left DataFrame without a match in the key column of the right DataFrame will be discarded.
  - rows in the right DataFrame without a match in the key column of the left DataFrame will be discarded.
- **left join** 
  - all rows from the left DataFrame will be retained, 
  - rows in the right DataFrame without a match in the key column of the left DataFrame will be discarded.
- **right join**
  - all rows from the right DataFrame will be retained, 
  - rows in the left DataFrame without a match in the key column of the right DataFrame will be discarded.
- **outer  join**
  - all rows, matching and non-matching, from both DataFrame will be retained, 

<img src="Redi_img/img23.png" width="600">

#### f. Merge- columns of different names: 
- In previous examples, we merged tables using columns with the same name (Country, Child).
- We can also merge tables using columns of different names

In [ ]:
columns=['Name', 'Age', 'Income']
data3=[('Andy', 27, 21), ('Rob', 25, 15), ('Mary', 55, 42), ('Anne', 50, 35),
       ('Phil', 26, 30), ('Greg', 50, 40), ('Frank', 57, 20), ('Kim', 30, 41), 
        ('Mike', 85, 35), ('Lisa', 75, 87), ('Steve', 80, 23)]
dfp=pd.DataFrame(data3, columns=columns)
dfp

In [ ]:
df=dfp.merge(dff, left_on='Name', right_on='Child')
df

- In previous examples, we merged tables using one column (one key)
- We can also merge tables using multiple columns (keys)

In [ ]:
columns=['item', 'type', 'color', 'quantity']
d1=[ ('S-56', 'A', 'Red', 234), ('S-57', 'A', 'Blue', 432),
      ('S-58', 'A', 'Orange', 902), ('S-59', 'A', 'Red', 340), 
      ('S-60', 'B', 'Yellow', 253), ('S-61', 'B', 'Red', 232), 
      ('S-62', 'C', 'Green', 1042), ('S-63', 'C', 'Green', 1204),
      ('S-64', 'B', 'Yellow', 432), ('S-65', 'C', 'Green', 985) ]
items=pd.DataFrame(d1, columns=columns)
items

In [ ]:
d2=[('A', 'Red', 34.50), ('A', 'Blue', 53.00),
    ('A', 'Orange', 62.25), ('B', 'Yellow', 35.25),
    ('B','Red', 23.45), ('C', 'Red', 61.50), 
    ('C', 'Green', 72.20)]

prices=pd.DataFrame(d2, columns=['type', 'color', 'price'])
prices

In [ ]:
df=items.merge(prices, on=['type','color'])
df

<img src="Redi_img/img24.png" width="600">

## Exercise:
Find the total price of all items:
    sum(quantity * price)